body {
    background: linear-gradient(to right, #4a7a6e, #1e3d59);
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    color: #f0f0f0;
}

/* **************************** */
/* Style for the header section */
/* **************************** */

.header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    background: rgba(30, 61, 89, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.header .name {
    text-align: left;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header .navbar {
    display: flex;
    gap: 15px;
    font-size: 1.5em;
}

.header .navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header .navbar a:hover {
    color: #e0a66a;
    transition: color 0.3s;
}

/* ************************** */
/* Style for the home section */
/* ************************** */

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: white;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 900;
    line-height: 1.2;
    background: rgba(74, 122, 110, 0.5);
    padding: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.home-content p {
    position: relative;
    font-family: 'Lora', serif;
    font-size: 1.5em;
    margin: 20px 0 40px;
    background: rgba(74, 122, 110, 0.5);
    padding: 5px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

/* ************************************* */
/* Style for the project listing section */
/* ************************************* */

.portfolio {
    padding-block: 5rem 2rem;
    max-width: 100%;
    margin-inline: 1.5rem;

    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
}

.project-card {
    padding: 5px;
    margin: 5px;
    background-color: #e0a66a;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-link {
    color: #102027;
    text-decoration: none;
}

.project-link:hover {
    color: #e0a66a;
    transition: color 0.3s;
}

.project-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.project-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.project-img {
    display: block;
    width: 100%;
    height: calc(27vw);
    object-fit: cover;
}